<nav class="navbar navbar-expand-lg navbar-ligth bg-ligth">
  <a class="navbar-brand" href="#" routerLink="/">
    Controles personalizados
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/controles" routerLinkActive="active">Controles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/grid" routerLinkActive="active">Grilla</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/tools" routerLinkActive="active">Herramientas</a>
      </li>
    </ul>
  </div>
</nav>

